In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests

# import API key
from config import g_key

# configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# store CSV data in dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.tail()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
548,548,Atasu,KZ,2021-04-17 15:17:57,48.6814,71.6433,55.33,49,19,8.39
549,549,Penzance,GB,2021-04-17 15:17:57,50.1186,-5.5371,51.80,50,20,9.22
550,550,Balvi,LV,2021-04-17 15:17:57,57.1313,27.2658,56.77,64,100,9.31
551,551,Buraydah,SA,2021-04-17 15:17:58,26.3260,43.9750,84.20,26,40,9.22
552,552,Soria,ES,2021-04-17 15:17:58,41.6667,-2.6667,45.00,53,1,10.00

In [3]:
# API reuiqres float or int in lat and long measures so make sure we have the rigth data types
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     553 non-null    int64
 1   City        553 non-null    object
 2   Country     550 non-null    object
 3   Date        553 non-null    object
 4   Lat         553 non-null    float64
 5   Lng         553 non-null    float64
 6   Max Temp    553 non-null    float64
 7   Humidity    553 non-null    int64
 8   Cloudiness  553 non-null    int64
 9   Wind Speed  553 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 43.3+ KB

#### Create heatmap using google maps and latitude and longitude information from our data frame - steps to create a heatmap are below

#### 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

#### 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

#### 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

#### 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#### 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

#### 6. Call the figure to plot the data.
fig

In [11]:
# # heatmaps don't take negative numbers so we need to separate the positive and negative numbers in Max Temp
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     # temps.append(max(temp, 0))

''' ended up not using this code - instead this is in the place of weights as a list comprehension '''

' ended up not using this code - instead this is in the place of weights as a list comprehension '

In [10]:
# Assign location of latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Assign figure variable to gmaps.figure() which we can then call later with fig
# center map on the geographic center of Earth 30.0 N and 31.0 E
fig = gmaps.figure(center=30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable - produces the heat map output on the gmap fig
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer we created to the figure - fig
fig.add_layer(heat_layer)


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# call the figure to plot our data
# fig

In [14]:
# create gmap with percent humidity
# location
# Assign location of latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# weight = humidity %
humidity = city_data_df["Humidity"]

# center map on the geographic center of Earth 30.0 N and 31.0 E
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# add heat layer to the map
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# call figure to plot the data
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# create gmap with cloudiness
# location
# Assign location of latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# weight = humidity %
cloudiness = city_data_df["Cloudiness"]

# center map on the geographic center of Earth 30.0 N and 31.0 E
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# add heat layer to the map
heat_layer=gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

# call figure to plot the data
fig.add_layer(heat_layer)

In [ ]:
# create gmap with wind speed
# location
# Assign location of latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# weight = humidity %
wind = city_data_df["Wind Speed"]

# center map on the geographic center of Earth 30.0 N and 31.0 E
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# add heat layer to the map
heat_layer=gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# call figure to plot the data
fig.add_layer(heat_layer)

In [15]:
# get user input to suggest where user should travel based on preferences
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [24]:
# filter city database with the preferred temperature range and create new df - add dropna() to get rid of anything that we do not have complete information on
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Victoria,HK,2021-04-17 15:13:53,22.2855,114.1577,75.00,81,96,15.79
3,3,Souillac,MU,2021-04-17 15:15:22,-20.5167,57.5167,80.60,83,75,1.14
4,4,Port-Gentil,GA,2021-04-17 15:15:23,-0.7193,8.7815,89.60,70,20,13.80
15,15,Arraial Do Cabo,BR,2021-04-17 15:15:26,-22.9661,-42.0278,80.60,69,40,21.85
16,16,Alenquer,BR,2021-04-17 15:15:26,-1.9417,-54.7383,84.20,79,75,8.05
22,22,Rikitea,PF,2021-04-17 15:15:28,-23.1203,-134.9692,76.77,68,94,8.12
24,24,Saint-Philippe,RE,2021-04-17 15:15:29,-21.3585,55.7679,77.00,73,90,5.75
29,29,Port Hedland,AU,2021-04-17 15:15:30,-20.3167,118.5667,77.00,65,47,8.05
30,30,Hithadhoo,MV,2021-04-17 15:15:31,-0.6000,73.0833,82.90,62,33,6.31
32,32,Tutoia,BR,2021-04-17 15:15:31,-2.7619,-42.2744,86.00,70,75,11.50

In [25]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [26]:
# use preferred temps df to create new df which will be used to display hotel locations
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
# create blank column which can be filled with hotel names
hotel_df.head()

               City Country  Max Temp      Lat       Lng Hotel Name
1          Victoria      HK      75.0  22.2855  114.1577
3          Souillac      MU      80.6 -20.5167   57.5167
4       Port-Gentil      GA      89.6  -0.7193    8.7815
15  Arraial Do Cabo      BR      80.6 -22.9661  -42.0278
16         Alenquer      BR      84.2  -1.9417  -54.7383

In [ ]:
# places base url
# "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Victoria,HK,75.0,22.2855,114.1577,Mini Hotel Central
3,Souillac,MU,80.6,-20.5167,57.5167,Shanti Maurice Resort & Spa
4,Port-Gentil,GA,89.6,-0.7193,8.7815,Fengshui Residence
15,Arraial Do Cabo,BR,80.6,-22.9661,-42.0278,Pousada Porto Praia
16,Alenquer,BR,84.2,-1.9417,-54.7383,Josilene Castro

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# create info box to display when clicking on map markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# store DateFrame row information
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# add markers to gmaps from our hotel df
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

In [38]:
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# create info box to display when clicking on map markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""